* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #040404;
  font-family: 'Roboto', sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-slide {
  margin: 0 5px !important;
}
